main .first-title {
    position: relative;
    text-align: center;
    font-family: 'MyFont', sans-serif;
    font-size: 6vh;
    padding-top: 7%;
}

main .second-title {
    position: relative;
    text-align: center;
    font-family: 'MyFont', sans-serif;
    font-size: 4vh;
    padding-bottom: 2%;
}

main .main-div {
    position: relative;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding-top: 15vh;
}

main .login_text {
    font-family: 'MyFont', sans-serif;
    font-size: 3vh;
    padding-right: 1vw;
}

main .enter_login {
    background-color: rgb(243, 254, 255);
    width: 23vw;
    height: 4vh;
    border-radius: 18px;
    padding-left: 1%;
    font-family: 'MyFont', sans-serif;
    font-size: 120%;
}

main .tooltip {
    visibility: hidden; 
    background-color: black; 
    color: #fff; 
    text-align: left; 
    border-radius: 5px; 
    padding: 10px; 
    position: absolute; 
    bottom: 110%; 
    left: 710%; 
    transform: translateX(-50%); 
    z-index: 1; 
    opacity: 0; 
    transition: opacity 0.3s;
    width: 18vw; 
    height: min-content;
    font-size: 80%;
    font-family: 'MyFont', sans-serif;
    overflow-y: auto;
    text-align: justify;
}

/* main .second-tooltip {
    height: ;
} */

main .image-container {
    position: relative;
    display: inline-block;
}

main .image-container:hover .tooltip, .image-container .tooltip:hover {
    visibility: visible; 
    opacity: 1; 
}

main .Image {
    position: relative;
    width: 2.5vh; 
    height: auto;
    padding-left: 10%;
    padding-bottom: 12%;
}

main .key {
    position: relative;
    padding-right: 4.2vw; 
    padding-top: 2%;
}

main .options {
    background-color: rgb(243, 254, 255);
    width: 43.5vh;
    height: 4vh;
    border-radius: 18px;
    padding-left: 1%;
    font-family: 'MyFont', sans-serif;
    font-size: 100%;
}

main select option {
    padding: 10px; 
}

main select {
    cursor: pointer;
}

main .accept-button {
    position: relative;
    width: 12vw;
    height: 5vh;
    border: none;
    background-color: #1C4FD1;
    border-radius: 25px;
    color: white;
    font-family: 'MyFont', sans-serif;
    font-size: 2.5vh;
    transition: transform 0.6s ease;
    /* margin-left: 19vw; */
    margin-top: 4vh;
    /* overflow-y: auto; */
    overflow:hidden;
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden;  /*для горизонтального*/
}

main .accept-button:hover {
    transform: scale(1.05);
}

body {
    overflow-x:hidden;
}
