{% extends 'main/ok.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/forChangePassword.css' %}">
{% endblock %}
{% block title %}
    Замена пароля сотрудника
{% endblock %}

{% block navigation %}
    <ul>
        <a href="/"><li><img src="{% static 'main/icons/house.svg' %}" class="navigation-img">Стартовая страница</li></a>
        <a href="{% url 'adminPanel' %}"><li><img src="{% static 'main/icons/bar-chart-steps.svg' %}" class="navigation-img">Панель администратора</li></a>
        <a href=""><li><img src="{% static 'main/icons/filetype-pdf.svg' %}" class="navigation-img">PDF</li></a> 
        <a href="{% url 'newUser' %}"><li><img src="{% static 'main/icons/person-plus.svg' %}" class="navigation-img">Добавить сотрудника</li></a> 
        <a href="{% url 'deleteUser' %}"><li><img src="{% static 'main/icons/person-dash.svg' %}" class="navigation-img">Удалить сотрудника</li></a> 
        <a href=""><li><img src="{% static 'main/icons/person-gear.svg' %}" class="navigation-img">Личный план</li></a>
        <a href="{% url 'changePassword' %}"><li><img src="{% static 'main/icons/person-down.svg' %}" class="navigation-img">Изменить пароль</li></a>
    </ul>
{% endblock %}

{% block content %}
    <div class="main-div"> 
        <p class="first-title">Измените пароль сотрудника</p>
        <p class="second-title">Заполните требуемые поля</p>
        <div class="login">
            <label class="login_text">Сотрудник:</label>
            <select class="options" name="options">
                <option value="" hidden selected>Выберете права сотрудника</option>
                <option value="option1">Пользователь 1</option>
                <option value="option2">Пользователь 2</option>
            </select>
            <div class="image-container">
                <img src="{% static 'main/icons/info-square.svg' %}" alt="image" class="Image">
                <div class="tooltip">
                    <p>В данном поле вам требуется выбрать существующего сотрудника, у которого вы хотите изменить пароль.</p>
                </div>
            </div>
        </div>        
        <div class="new-password">
            <label class="new-password-text">Новый пароль:</label>
            <input type="text" class="enter-password" name="new-password">
            <div class="image-container">
                <img src="{% static 'main/icons/info-square.svg' %}" alt="image" class="Image">
                <div class="tooltip">
                    <p>В данном поле вам требуется написать новый пароль для пользователя, которого вы выбрали в поле "Сотрудник".</p>
                </div>
            </div>
        </div>
        <form>
            <button class="accept-button" type="submit">
                Подтвердить
            </button>
        </form> 
    </div>
{% endblock %}